*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  color: #fff;
  background: #0066bb url(../images/reactjs.png) no-repeat right 10px;
  background-size: contain;
  h1 {
    display:block;
    float:left;
    padding: 0 20px;
    margin:20px;
  }
  .nav {
    height: 63px;
    a {
      display:block;
      float:left;
      margin: 30px 10px 10px 10px;
      padding: 5px 10px;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
      &.active,
      &:hover {
        text-decoration: none;
        color:white;
      }
    }
  }
 
}

section {
  display: flex!important;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 84px)
}

.container-fluid {
  max-width: 50%;
}

ul {
  padding:0;
}
